/*UTILITY CLASSES*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.pd {
  padding: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", "Rubik", sans-serif;
  color: #525252;
}

/*HEADER*/

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  color: #fff;
  background-color: #1973e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__user {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.header__user .photo {
  background-color: #601229;
  border: 0.2rem solid #fff;
  border-radius: 100%;
  width: 4rem;
  margin-right: 1rem;
}
.header__user .info__username {
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.header__option .option-icon {
  font-size: 2rem;
}

.scanner_click {
  width: 200px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden; /* Ensures content doesn't overflow the container */
}

.scanner_click img {
  width: 100%; /* Make the image fill the container's width */
  height: auto; /* Maintain aspect ratio */
  transform: scale(1.8); /* Scale up the image to make it appear larger */
}
/*MAIN*/

.main {
  position: fixed;
  width: 100%;
  margin-top: 6rem;
  min-height: calc(100vh - 6rem);
  background-color: #1973e8;
  display: flex;
  justify-content: center;
}
.main .tez {
  position: absolute;
  top: 20%;
}
.main .tez__circle {
  width: 13rem;
  height: 13rem;
  margin-bottom: 2rem;
  border: 1.5rem solid #1567d2;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .tez__circle .tez-icon {
  font-size: 2rem;
  color: #667e8d;
}
.main .tez .tez__text {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

/*SLIDER*/

.slider {
  position: absolute;
  z-index: 45;
  top: 70%;
  width: 100%;
  padding: 2rem 1rem;
  background-color: #fff;
}
.slider .logo-wrap {
  text-align: center;
  margin-bottom: 1.5rem;
  
}
.slider .logo-wrap__img {
  position: relative;
  width: 20rem;
}
.slider__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}
.slider__contact .contact-item {
  margin: 1.5rem 1.5rem;
  display: grid;
  place-items: center;
}

.slider__contact .contact-item:first-child .contact-item__photo {
  position: relative;
  width: 5.3rem;
  height: 5.3rem;
  background-color: #28b6f6;
  border: 0.15rem solid #28b6f6;
  box-shadow: inset 0 0 0 0.3rem #fff;
}
.slider__contact .contact-item__photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.3rem;
  height: 5.3rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
}

.slider__contact .contact-item__name {
  font-size: 1.4rem;
}
.slider__contact .contact-item__name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__business {
  padding: 3rem 0 0 0;
  font-size: 1.3rem;
}
.slider__business .business-head {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 0.5rem 2rem;
}
.slider__business .business-subhead {
  font-size: 1.4rem;
  color: #667e8d;
  margin: 0 0 0.5rem 2rem;
}
.slider__business .business-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.slider__business .business-list .business-item {
  margin: 1rem 1.5rem;
}
.slider__business .business-list .business-item__photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.3rem;
  height: 5.3rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
}
.slider__business .business-list .business-item__name {
  font-size: 1.4rem;
  text-align: center;
}
.slider__promo {
  padding: 3rem 0 0 0;
  font-size: 1.3rem;
}
.slider__promo .promo-head {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 0.5rem 2rem;
}
.slider__promo .promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.slider__promo .promo-list .promo-item {
  margin: 1rem 1.5rem;
}
.slider__promo .promo-list .promo-item__photo {
  width: 5.3rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.slider__promo .promo-list .promo-item__name {
  font-size: 1.4rem;
  text-align: center;
}
.slider__options {
  padding: 3rem 0 0 0;
}
.slider__options .option {
  font-size: 1.4rem;
  margin: 0 2rem;
  padding: 2rem 0;
  border-top: 0.1rem solid #e3e8eb;
  display: flex;
  align-items: center;
}
.slider__options .option__icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}
.slider__options .option__text {
  text-transform: uppercase;
  font-weight: 500;
}
.slider__options .option__subtext {
  color: #667e8d;
  margin-top: 0.5rem;
}

#scanner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Darken the background */
}

#video {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure video covers the entire area */
  position: absolute;
  z-index: 1; /* Place video behind the scanner */
}

/* Scanning frame */
.scanner-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  width: 300px; /* Adjust this to set the size of the scanner */
  height: 300px; /* Adjust height as needed */
  z-index: 2; /* Keep it above the video */
}

/* Corner borders */
.scanner-border {
  position: absolute;
  width: 50px; /* Adjust this for the size of the borders */
  height: 50px;
  border: 10px solid; /* Border color */
  z-index: 3;
}

.top-left {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
  border-color: red;
}

.top-right {
  top: 0;
  right: 0;
  border-bottom: none;
  border-left: none;
  border-color: yellow;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
  border-color: green;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
  border-color: blue;
}
#close-button {
  height: 40px;
  width: 40px;
  background-color: white;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  font-size: 20px;
}

#main {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
}

.qr-result {
  background-color: #ffcc00; /* Yellow background for attention */
  color: #fff; /* White text color */
  padding: 15px; /* Add some padding for spacing */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Set font size */
  font-weight: bold; /* Make text bold */
  text-align: center; /* Center-align the text */
  position: fixed; /* Make it fixed on the screen */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust positioning to center exactly */
  z-index: 1000; /* Ensure it appears above other content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow for better visibility */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for fading effect */
  width: 90%;
}

/* Optional: To make it disappear after some time */
.qr-result.hide {
  opacity: 0;
  visibility: hidden;
}

.check-bal{
background-color: red;
}